@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#FFF;
}
header{
	border-top:1px solid #066;
	display:flex;
	
}
#logo{
	margin-left:15px;
	margin-top:30px;
	height:100px;
	color:#066;
	font-size:50px;
	font-weight:10px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#search{
	margin-top:35px;
	height:40px;
	min-width:450px;
	background-color:white;
	border:1px solid #066;
	border-radius:15px;
	margin-left:150px;
	padding:2px;
}
#search input{
	height:38px;
	min-width:400px;
	border:0px;
	font-size:14px;
	border-radius:15px;
	padding-left:10px;
	outline:none;
}
#search button{
	border:0px;
}
#search button img{
	height:auto;
	width:30px;
	vertical-align:middle;
	cursor:pointer;
}
#search button img:hover{
	width:32px;
}
#login{
	margin-top:50px;
	margin-left:140px;
}
#login a{
	margin:0 10px;
	background:#066;
	font-size:20px;
	color:#FFF;
	text-decoration:none;
	padding:8px 15px;
	border-radius:10px;
}
#login a:hover{
	color:#F90;
} 
#hinhslide{
	margin-top:10px;
	border-radius:5px;
}
.dieu-huong{
	position:absolute;
	font-size:40px;
	top:60%;
	padding-left:10px;
	color:#999;
}
.dieu-huong:hover{
	cursor:pointer;
}
.dieu-huong i:last-child{
	position:relative;
	margin-left:1090px;
}
#body{
	width:1200px;
	margin:0px auto;
	background-image: linear-gradient(0deg, #FFF, #DADADA);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav{
	margin-top:10px;
	clear:both;
	background-color:#066;
	height:45px;
	width:100%;
	margin:0px auto;
	border-radius:2px;
}
#bx{
	margin-left:460px;
	font-size:30px;
	color:#FFF;
	padding-top:5px;
	display:flex;
	align-items:center;
}
#bx>a{
	padding-top:5px;
	padding-left:5px;
}
nav ul{
	float:left;
	list-style:none;
	margin-left:50px;
}
nav ul li{
	float:left;
	padding:11px 30px;
}
nav ul li a{
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
nav ul li a:hover{
	color:#F90;
}
.sub-menu>li{
	clear:both;
}
.main-menu li{
	position:relative;
}
.sub-menu{
	position:absolute;
	background-color:#066;
	margin-left:-25px;
	margin-top:10px;
	width:220px;
	display:none;
	z-index:99;
}
.menu-link:hover .sub-menu{
	display:block;
}
#gt{
	padding-top:20px;
	padding-left:10px;
	padding-right:20px;
}
artical{
	background-color:#303;
	clear:both;
	display:table-row;
}
aside, section{
	display:table-cell;
}
aside{
	padding-left:35px;
	width:250px;
	vertical-align:top;
}
section{
	width:950px;
	vertical-align:top;
	padding:0px 8px;
}
aside div{
	border:2px solid #066;
	border-radius:5px;
	background-color:#FFF;
	margin-right:40px;
	margin-top:15px;
	
}
aside div p{
	font-family:"Times New Roman", Times, serif;
	border:2px solid #066;
	background-color:#066;
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
	height:25px;
	text-align:center;
	color:#FFF;
}
aside>div>ul>li{
	height:35px;
	list-style-position:inside;
	list-style-image:url(../Images/icon_list.jpg);
	padding-left:5px;
}
aside>div>ul>li>a{
	color:#033;
	text-decoration:none;
	font-size:18px;
	padding-left:10px;
	font-family:"Times New Roman", Times, serif;
}
aside>div>ul>li>a:hover{
	color:#F90;
}

footer{
	margin-top:25px;
	display:flex;
	justify-content:space-between;
	height:400px;
	background-color:#066;
}
.f_left{
	margin:40px 70px;
}
.f_right{
	margin:40px 70px;
}
.f_left>p{
	font-family:"Times New Roman", Times, serif;
	color:#FFF;
	font-size:20px;
	margin-bottom:5px;
}
.f_left>ul>li{
	font-family:"Times New Roman", Times, serif;
	list-style:none;
	color:#FFF;
	font-size:16px;
	margin-bottom:3px;
}
.f_right>p{
	font-family:"Times New Roman", Times, serif;
	color:#FFF;
	font-size:20px;
	margin-bottom:5px;
}
